@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(135deg, #0a0a0a, #1f1f1f);
  color: #ffffff;
  text-rendering: optimizeLegibility;
}

.draggable {
  -webkit-app-region: drag;
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  background-color: rgba(255, 0, 0, 0);
  z-index: -3;
}

.container {
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

}

.logo {
  position: absolute;
  top: 20px;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #d0269f, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.news-section {
  position: absolute;
  top: 85px;
  width: 80%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d0269f;
}

.news-item {
  font-size: 16px;
  margin-top: 5px;
}

.loading-bar {
  width: 75vw;
  height: 42px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.loading-progress {
  width: 30%;
  height: 100%;
  background: linear-gradient(90deg, #d0269f, #00d4ff);
  animation: loadingAnimation 8s infinite linear;
}

@keyframes loadingAnimation {
  0% { width: 0%; }
  50% { width: 100%; }
  100% { width: 0%; }
}
